.feedback {
   // background-image: url(~images/content/feedback/bg-feedback.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px 240px 160px 60px;
    position: relative;
}