.header {
  position: absolute;
  width: 100%;
  z-index: 10;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 65px;
}

.header__logo {
  margin-left: 60px;
}

.header__social-media {
  margin-right: 60px;
  @include tablets {
    margin-left: 100px;
    margin-right: 0;
  }
}
