.nav__list {
  display: flex;
  @include tablets {
    display: none;
  }
}

.nav__item {
  margin-right: 60px;
  &:last-child {
    margin-right: 0;
  }
}

.nav__link {
  color: $white;
  line-height: 1.88;
}
