.social-media {
  display: flex;
}

.social-media__item {
  margin-right: 40px;
  &:last-child {
    margin-right: 0;
  }
  &--footer {
    margin-right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #716b66;
    &:hover {
      border-color: $white;
    }
  }
}

.social-media__icon {
  width: 30px;
  height: 30px;
  fill: #78736f;
  &:hover {
    fill: $white;
    transition: $speed;
  }
}
