.social-media {
  display: flex;
}

.social-media__item {
  margin-right: 40px;
  &:last-child {
    margin-right: 0;
  }
}

.social-media__icon {
  width: 30px;
  height: 30px;
  fill: #78736f;
  &:hover {
    fill: $white;
    transition: .5s;
  }
}
