section.section.abilities
    .container.abilities__container
        h1.abilities__title.title Чем я могу быть полезен вам
        .abilities__desc
            p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
        #abilities-component