.feedback-parallax.js-parallax__feedback
        each idx in [1, 2, 3, 4]
            .feedback-parallax__layer.js-parallax__layer(data-speed='1')
                +image(`content/feedback/leaf-${idx}.png`, 'feedback-parallax__img')