header.header
    .container.header__container
        .header__logo
            include ./logo.pug
        .header__menu
            include ./nav.pug
        .header__social-media
            include ./social-media.pug
        .header__hamburger-menu
            include ./hamburger-menu.pug