.mainidea-parallax.js-parallax__mainidea
    .mainidea-parallax__layer.mainidea-parallax__layer--sky
        +image('content/mainidea/sky.png', 'mainidea-parallax__img', 'Изображение неба')
    .mainidea-parallax__layer.mainidea-parallax__layer--mountains.js-parallax__layer(data-speed='1')
        +image('content/mainidea/mountains.png', 'mainidea-parallax__img', 'Изображение гор')
    .mainidea-parallax__layer.mainidea-parallax__layer--train.js-parallax__layer(data-speed='2')
        +image('content/mainidea/train.png', 'mainidea-parallax__img', 'Изображение поезда')
    .mainidea-parallax__layer.mainidea-parallax__layer--grass.js-parallax__layer(data-speed='3')
        +image('content/mainidea/grass.png', 'mainidea-parallax__img', 'Изображение травы')
    .mainidea-parallax__layer.mainidea-parallax__layer--shadow.js-parallax__layer(data-speed='1')
        +image('content/mainidea/shadow.png', 'mainidea-parallax__img', 'Изображение тени')
    .mainidea-parallax__layer.mainidea-parallax__layer--about-me
        +image('content/mainidea/bg-aboutme.png', 'mainidea-parallax__img', 'Секция обо мне')
    