section.section.welcome-page
    .container.welcome-page__container
        h1.title.welcome-page__title
            span.welcome-page__pre-title Личный сайт 
                br 
                | веб-разработчика
                br
            | Екатерина 
            br 
            | Вишнякова
            br
        .welcome-page__scroll
            a.welcome-page__scroll-btn(href="#about-me") Скролл
                +icon('scroll', 'welcome-page__scroll-icon')