section.section.abilities
    .container.abilities__container
        h1.abilities__title.title Чем я могу быть полезен вам
        .abilities__desc
            p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
        .abilities__content
            h2.abilities__group-name Front-end
            ul.abilities__list
                li.abilities__item
                    svg.abilities__icon(viewBox="0 0 160 160" width='134px')
                        circle.abilities__circle.abilities__circle--possible(cx='80' cy='80' r='67')
                        circle.abilities__circle.abilities__circle--actual(cx='80' cy='80' r='67' stroke-dashoffset='210' stroke='url(#gradient-html)')
                        linearGradient(id='gradient-html' x1='0%' y1='0%' x2='100%' y2='100%')
                            stop(offset="0%" stop-color='#d0731b')
                            stop(offset="100%" stop-color='#dc9322')
                        h5.abilities__name HTML    
                li.abilities__item
                    svg.abilities__icon(viewBox="0 0 160 160" width='134px')
                        circle.abilities__circle.abilities__circle--possible(cx='80' cy='80' r='67')
                        circle.abilities__circle.abilities__circle--actual(cx='80' cy='80' r='67' stroke-dashoffset='240' stroke='url(#gradient-html)')
                        linearGradient(id='gradient-html' x1='0%' y1='0%' x2='100%' y2='100%')
                            stop(offset="0%" stop-color='#d0731b')
                            stop(offset="100%" stop-color='#dc9322')
                        h5.abilities__name CSS3      
                li.abilities__item
                    svg.abilities__icon(viewBox="0 0 160 160" width='134px')
                        circle.abilities__circle.abilities__circle--possible(cx='80' cy='80' r='67')
                        circle.abilities__circle.abilities__circle--actual(cx='80' cy='80' r='67' stroke-dashoffset='300' stroke='url(#gradient-html)')
                        linearGradient(id='gradient-html' x1='0%' y1='0%' x2='100%' y2='100%')
                            stop(offset="0%" stop-color='#d0731b')
                            stop(offset="100%" stop-color='#dc9322')
                        h5.abilities__name Javascript
                li.abilities__item
                    svg.abilities__icon(viewBox="0 0 160 160" width='134px')
                        circle.abilities__circle.abilities__circle--possible(cx='80' cy='80' r='67')
                        circle.abilities__circle.abilities__circle--actual(cx='80' cy='80' r='67' stroke-dashoffset='370' stroke='url(#gradient-html)')
                        linearGradient(id='gradient-html' x1='0%' y1='0%' x2='100%' y2='100%')
                            stop(offset="0%" stop-color='#d0731b')
                            stop(offset="100%" stop-color='#dc9322')
                        h5.abilities__name Jquery и Vue.js      
            h2.abilities__group-name Workflow
            ul.abilities__list
                li.abilities__item
                    svg.abilities__icon(viewBox="0 0 160 160" width='134px')
                        circle.abilities__circle.abilities__circle--possible(cx='80' cy='80' r='67')
                        circle.abilities__circle.abilities__circle--actual(cx='80' cy='80' r='67' stroke-dashoffset='290' stroke='url(#gradient-html)')
                        linearGradient(id='gradient-html' x1='0%' y1='0%' x2='100%' y2='100%')
                            stop(offset="0%" stop-color='#d0731b')
                            stop(offset="100%" stop-color='#dc9322')
                        h5.abilities__name GIT    
                li.abilities__item
                    svg.abilities__icon(viewBox="0 0 160 160" width='134px')
                        circle.abilities__circle.abilities__circle--possible(cx='80' cy='80' r='67')
                        circle.abilities__circle.abilities__circle--actual(cx='80' cy='80' r='67' stroke-dashoffset='220' stroke='url(#gradient-html)')
                        linearGradient(id='gradient-html' x1='0%' y1='0%' x2='100%' y2='100%')
                            stop(offset="0%" stop-color='#d0731b')
                            stop(offset="100%" stop-color='#dc9322')
                        h5.abilities__name Terminal      
                li.abilities__item
                    svg.abilities__icon(viewBox="0 0 160 160" width='134px')
                        circle.abilities__circle.abilities__circle--possible(cx='80' cy='80' r='67')
                        circle.abilities__circle.abilities__circle--actual(cx='80' cy='80' r='67' stroke-dashoffset='200' stroke='url(#gradient-html)')
                        linearGradient(id='gradient-html' x1='0%' y1='0%' x2='100%' y2='100%')
                            stop(offset="0%" stop-color='#d0731b')
                            stop(offset="100%" stop-color='#dc9322')
                        h5.abilities__name Gulp
                li.abilities__item
                    svg.abilities__icon(viewBox="0 0 160 160" width='134px')
                        circle.abilities__circle.abilities__circle--possible(cx='80' cy='80' r='67')
                        circle.abilities__circle.abilities__circle--actual(cx='80' cy='80' r='67' stroke-dashoffset='350' stroke='url(#gradient-html)')
                        linearGradient(id='gradient-html' x1='0%' y1='0%' x2='100%' y2='100%')
                            stop(offset="0%" stop-color='#d0731b')
                            stop(offset="100%" stop-color='#dc9322')
                        h5.abilities__name Webpack      

