section.section.reviews
    .container.reviews__container
        .reviews__title-block
            h1.title.reviews__title Что обо мне говорят
            .reviews__arrow-btns
                .arrow-btns
                    button.arrow-btn.works__arrow-btn--next
                    button.arrow-btn.works__arrow-btn--prev
        .reviews__main
            ul.reviews__list
                li.reviews__item
                    .reviews__content
                        +icon('quote', 'reviews__content-icon')
                        .reviews__content-text Этот человек проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!
                    .reviews__author
                        .reviews__author-photo
                            +image('content/feedback/kovalchukdm.png', 'reviews__author-img', 'Фотография Дмитрия Ковальчука')
                        .reviews__author-info
                            .reviews__author-name Дмитрий Ковальчук
                            .reviews__author-post Основатель Loftschool
                li.reviews__item
                    .reviews__content
                        +icon('quote', 'reviews__content-icon')
                        .reviews__content-text Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах
                    .reviews__author
                        .reviews__author-photo
                            +image('content/feedback/sabantsevvl.png', 'reviews__author-img', 'Фотография Владимира Сабанцева')
                        .reviews__author-info
                            .reviews__author-name Владимир Сабанцев
                            .reviews__author-post Преподаватель


